" ****************************************
" Vim Config
" ****************************************
" Greatest remap EVER!! 
" Let me explain, this remap while in visual mode
" will delete what is currently highlighted and replace it 
" with what is in the register BUT it will YANK (delete) it 
" to a VOID register. Meaning I still have what I originally had
" when I pasted. I don't loose the previous thing I YANKED!
vnoremap <leader>pp "_dP

" ******************************************
" REMAP Y and P for clipboard usages
" * for main clipboard
" + for vim clipboard?
" *****************************************
noremap <Leader>y "*y
noremap <Leader>p "*p
noremap <Leader>Y "+y
noremap <Leader>P "+p

" ****************************************
" Plugins
" ****************************************
set multiple-cursors
set commentary
set NERDTree
set easymotion
set surround
set showmode
set textobj-entire
set ReplaceWithRegister
set sneak

" ****************************************
" Basic
" ****************************************
set number          " Line numbers
set relativenumber  " Relative line numbers
set hlsearch        " Highlight whole word when searching
set ignorecase      " Ignore case when searching...
set smartcase       " ...except when search query contains a capital letter
set scrolloff=5
set so=5
set history=1000
set incsearch
set nu
set hlsearch
set visualbell
set exchange

""" Idea specific settings ------------------
set showmode
" set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" ******************************************
" Remap for idea features
" *****************************************
map <C-W>q :q<CR>
nnoremap <Leader>/ :nohl<CR>
map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

map gl <Action>(QuickJavaDoc)
map gh <Action>(ShowErrorDescription)
map gm <Action>(HideAllWindows)
map gu <Action>(FindUsages)
map <leader>gd <Action>(QuickImplementations)

" ******************************************
" Remap for conflicts
" *****************************************
sethandler <C-2> a:ide
sethandler <C-S-2> a:ide
sethandler <C-6> a:ide
sethandler <C-S-6> a:ide
sethandler <C-A> a:ide
sethandler <C-C> a:ide
sethandler <C-E> a:ide
sethandler <C-G> a:ide
sethandler <C-H> a:ide
sethandler <C-I> a:ide
sethandler <C-J> a:ide
sethandler <C-K> a:ide
sethandler <C-L> a:ide
sethandler <C-M> a:ide
sethandler <C-S> a:ide
sethandler <C-T> a:ide
sethandler <C-X> a:ide
sethandler <C-Y> a:ide
sethandler <C-[> a:ide
sethandler <C-\> a:ide
sethandler <C-]> a:ide
sethandler <C-P> a:ide
sethandler <S-j> a:ide

sethandler <C-B> a:vim
sethandler <C-D> a:vim
sethandler <C-F> n:vim i-x-v:ide 
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-R> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim

" ******************************************
" NERD Tree Keybinding
" ******************************************
" Toggle NERDTree and go to file with Find
" map NERDTree to Ctrl+Shift+E
" nnoremap <C-S-e> :NERDTreeToggle<CR>
